.bg , h1
{
    background-color: #104C59 !important;
    color: #D6B38B !important;
}
a, .card i, .color{
    color: #D6B38B !important;

}
.bgbtn
{
    background-color: #D6B38B !important;
    color: #104C59 !important;
}

.bg_office
{
    background-color: #104C59 !important;
    color: aliceblue !important;
}
.bg_office a
{
    color: aliceblue !important;
}
.bg_p
{
    color: aliceblue;
}
.bg_res
{
    background: linear-gradient(0.25turn, #104C59,  #D6B38B);
}

/* DISPLAY IIMAGE IN INPUT TYPE FILE */
.file-input,
.file-inputs {
  width: 100%;
  height: 200px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.file-input input[type="file"],
.file-inputs input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#previewImage {
  width: 100%;
  height: 200px;
  display: none;
}
.previewImageupdat{
  width: 100%;
  height: 200px;
}
.iconupdat
{
  display: none;
}
/* DISPLAY FOR TYPE */
.visi
{
  display: none;
}
/* VALIDATION FORM */
small {
    color: red;
  }
  
  .formvalid-success input,.formvalid-success select,.formvalid-success textarea{
    border: 3px solid rgb(13, 245, 32);
  }
  
  .formvalid-error input, .formvalid-error select,.formvalid-error textarea{
    border: 3px solid rgb(244, 42, 42);
  }
