.bg , h1
{
    background-color: #104C59 !important;
    color: #D6B38B !important;
}
.bgbtn
{
    background-color: #D6B38B !important;
    color: #104C59 !important;
}
.color
{
    color: #D6B38B !important;
}
.bg_p
{
    color: aliceblue;
}